/* Reset & General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  color: #EAE4D5;
  background-color: #000;
  overflow-x: hidden;
}

/* Header */
header {
  position: fixed;
  top: 5%;
  width: 90%;
  padding: 0px 40px;
  margin: 0 5%;
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
.logo img {
  height: 80px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
}
nav ul li a {
  text-decoration: none;
  color: #EAE4D5;
  font-size: 13px;
  transition: color 0.3s;
  font-weight: bold;
}
nav ul li a:hover,
nav ul li a.active {
  color: #541212;
}
.slideshow {
 position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slideshow img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}
.fade {
  animation: fadeEffect 1s ease-in-out;
}

@keyframes fadeEffect {
  from { opacity: 0.4; }
  to { opacity: 1; }
}

/* About Section */
.about {
  position: relative;
  background: #000;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 60px;
  overflow: hidden;
}

/* Background image on the left */
.about-bg img {
  width: 1230px;
  height: 435px;
  object-fit: cover; /* keeps aspect ratio while filling the box */
}


/* About Us title (floating on the right) */
.about-title {
  position: absolute;
  top: 50px;
  right: 60px;
  width: 280px; /* adjust size */
}

/* Description box */
.about-box {
  position: absolute;
  bottom: 70px;
  right: 60px;
  max-width: 430px;
  background: #541212; /* your box color */
  color: #EAE4D5;
  padding: 30px 30px;
  font-size: 14px;
  line-height: 1.6;
  border-top-right-radius: 75px;
  border-bottom-left-radius: 75px;
}

/* Scroll Animation */
.animate-on-scroll {
  opacity: 0;
  transform: translateY(40px);
  transition: all 1s ease-out;
}

.animate-on-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}
